/* SignIn Page */
.bg-success {
  background-color: #5ef2b4 !important;
}
.logo-text {
  font-size: 36px;
  color: #ff6109;
  margin: 0;
  font-weight: 600;
}
.logo-color {
  color: #ff6109;
}
.w-fc {
  width: fit-content;
}
.btn-primary {
  background-color: #1921df;
}
.h-55v {
  height: 55vh;
}
.outline-none {
  outline: none;
}

.border-bottom-3 {
  border-bottom: 2px solid black !important;
}

.marginTop-10 {
  margin-top: 10% !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Verify  Page*/

/* register Page */

.h-60v {
  height: 60vh;
}
